footer{
    background: rgb(131, 128, 128);
    color: #fff;
    width: 100%;
    padding: 10%;
   
    
}

.sir-footer{
    text-align: center;
    text-align: left;
    
   
}

.sir-footer-uno p{
    margin-top: 30px;
}



.sir-footer-dos a{
    color: #fff;
    text-decoration: none;
    line-height:5;
    margin-left: 10px;
    
}

.sir-footer-dos a:hover{
    color: rgb(129, 194, 231);
}

.footer-dos-container{
    display: flex;
    flex-wrap: wrap;
}

.footer-tres-container{
    display: flex;
    flex-direction: column;

}

.footer-tres-info{
    margin-bottom: 10px;
    margin-top: 20px;
}

.sir-footer-derechos{
    background: rgb(24, 22, 22);
    color: #fff;
    text-align: center;
    
}


